#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# Options to pass to chrony.
DAEMON_OPTS="
{% if chrony_daemon_args.use_ipv4_only is defined and
      chrony_daemon_args.use_ipv4_only | string | length > 0 and
      chrony_daemon_args.use_ipv4_only %}
  -4 \
{% endif %}
{% if chrony_daemon_args.use_ipv6_only is defined and
      chrony_daemon_args.use_ipv6_only | string | length > 0 and
      chrony_daemon_args.use_ipv6_only %}
  -6 \
{% endif %}
{% if chrony_daemon_args.run_as_daemon is defined and
      chrony_daemon_args.run_as_daemon | string | length > 0 and
      not chrony_daemon_args.run_as_daemon %}
  -d \
{% endif %}
{% if chrony_config.log.directory is defined and
      chrony_config.log.directory | string | length > 0 %}
  -l {{ chrony_config.log.directory }}/chrony.log \
{% endif %}
{% if chrony_major_version | int >= 4 %}
  {% if chrony_daemon_args.logging_threshold is defined and
        chrony_daemon_args.logging_threshold | string | length > 0 and
        chrony_daemon_args.logging_threshold | int in [0,1,2,3] %}
  -L {{ chrony_daemon_args.logging_threshold }} \
  {% endif %}
{%endif %}
{% if chrony_daemon_args.reload_dump_files is defined and
      chrony_daemon_args.reload_dump_files %}
  -r \
{% endif %}
{% if chrony_major_version | int >= 4 %}
  {% if chrony_daemon_args.seccomp_filter_level is defined and
        chrony_daemon_args.seccomp_filter_level | int in [0,1,2] %}
  -F {{ chrony_daemon_args.seccomp_filter_level }} \
  {% endif %}
  {% if chrony_daemon_args.dont_check_for_root is defined and
        chrony_daemon_args.dont_check_for_root %}
  -U \
  {% endif %}
  {% if chrony_daemon_args.run_as_user is defined and
        chrony_daemon_args.run_as_user | string | length > 0 %}
  -u {{ chrony_daemon_args.run_as_user }} \
  {% endif %}
{% endif %}
  -f {{ chrony_config_file }}
"
