#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
#
# This is a configuration file for /etc/init.d/chrony and
# /lib/systemd/system/chrony.service; it allows you to pass various options to
# the chrony daemon without editing the init script or service file.

# Options to pass to chrony.
OPTIONS="
  -F 1 \
  -U \
  -l {{ chrony_config.log.directory }}/chrony.log \
  -f {{ chrony_config_file }} \
  -r
"
