[Service]
EnvironmentFile         =
EnvironmentFile         = -{{ chrony_system_config.file }}

ExecStartPre            = mkdir -vp /run/chrony
ExecStartPre            = chmod g+rwx,o-rwx /run/chrony
ExecStartPre            = chown {{ chrony_user }}:{{ chrony_group }} /run/chrony

ExecStart               =
ExecStart               = {{ chrony_service.executable }} $DAEMON_OPTS

SyslogIdentifier        =
SyslogIdentifier        = chrony
